*{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
  .image1{
    width: 200px;
    /* margin: 20px; */
    /* padding: 20px;   */
    border: 10px solid white}
  header{
    /* background-color:rgb(85, 129, 114); */
    margin: 0px;
    background-color: rgb(102, 90, 90);}
 h1{
    font-size: 60px;
     display: flex;
    justify-content: center; 
    color: pink;}
 h3{
    font-size: 30px;
    display: flex;
    justify-content: center; 
    color: pink;}
 header nav {
    position: relative;
     display: flex;
     justify-content: flex-end;
     margin: 20px;}
 nav ul li{
    font-size: 30px;
      display:inline;
      width: 100px;
      height: 100px;
      padding: 5px;
      border: 1px;
      color: white;}
 .hero ul li img{ 
    width: 1300px;
    height: 300px; }
   
 .hero li{
    list-style-type: none;
    border: 10px solid pink;
    }
  #float{
    flex-grow: 16;}
 .main h3{
    align-items: center;
    color: black;
  }
 #sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */}
  #happy{
display: flex;
  }

 .best{
 margin: 30px;
 padding:20px ;
 width: 300px;
 background-color: pink;}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
        #sidenav a {font-size: 18px;}
  }